/* **************************************** *
 * footer
 * **************************************** */

footer{
    position: relative;
}

footer .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.8rem 2rem 6rem;
    box-sizing: border-box;
}

.sns_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sns_list li{
    height: auto;
    border-radius: 50%;
    background-color: #F29D52;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sns_list li a{
    width: 4.2rem;
    height: 4.2rem;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.blog{
    background: url("/img/icon/blog.png") no-repeat center / 24px;
}

.instagram{
    background: url("/img/icon/instagram.png") no-repeat center / 24px;
}

.facebook{
    background: url("/img/icon/facebook.png") no-repeat center / 24px;
}

.youtube{
    background: url("/img/icon/youtube.png") no-repeat center / 24px;
}

/* Top button */

.top_btn{
    width: 5rem;
    height: 5rem;
    position: fixed;
    right: 2.4rem;
    bottom: 1.9rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s;
}

.top_btn.stop {
    position: absolute;
    top: -10rem;
}

.top_btn.show {
    opacity: 1;
    visibility: visible;
}

.top_btn button{
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    background: url("/img/icon/top_btn.png") no-repeat center / cover;
}

.top_btn button:hover{
    background: url("/img/icon/top_btn_hov.png") no-repeat center / cover;
    transition: ease-in-out 0.25s;
}